[submodule "keytype"]
	path = packages/keytype
	url = https://github.com/johnbean393/KeyType.git
	shallow = true
[submodule "ghosttype"]
	path = packages/ghosttype
	url = https://github.com/mk668a/GhostType.git
	shallow = true
[submodule "computer-use-jev"]
	path = packages/computer-use-jev
	url = https://github.com/paulsmith/computer-use-jev.git
	shallow = true
[submodule "skyvern"]
	path = packages/skyvern
	url = https://github.com/Skyvern-AI/skyvern.git
	shallow = true
[submodule "screenpipe"]
	path = packages/screenpipe
	url = https://github.com/screenpipe/screenpipe.git
	shallow = true
